ion-toolbar {
  --background: #FFFFFF;
  --color: #212121;
}

.bar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0% 1%;
}

ion-title {
  font-family: SF Pro Text;
  font-size: 24px;
  font-weight: bold;
  text-align: left;
  color: #333333;
  margin: 20px 0;
}


.date-time-display {
  font-family: SF Pro Text;
  font-size: 18px;
  font-weight: 400;
  color: #707070;
  text-align: right;
  margin-top: 10px;
}

ion-content {
  --background: #F1F7FE;
}

.container {
  margin-top: 20px;
}

.element {
  padding: 10px 20px;
  margin: 20px 0;
}

.list {
  font-size: 24px;
  font-weight: 400;
  color: #707070;
  padding: 10px 20px;
  margin: 20px 0;
}

.categories {
  padding: 10px 20px;
  margin: 20px 0;
}

.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 10px;
}

/*Buttons */
ion-button {
  --background: #1640A9;
  --color: #ffffff;
  --font-family: SF Pro Text;
  font-size: 18px;
  font-weight: 200;
  text-transform: none;
  --border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6vh;
}

.add-category {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.no-category {
  font-size: 16px;
  font-family: SF Pro Text;
  color: #999999;
  text-align: center;
  margin-top: 20px;
  font-style: italic;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 12px;
  background-color: #f9f9f9;
}