<div class="create-category">

  <div class="header">
    <div class="left-header">
      <img src="assets/add-category/blue/add.svg" />
      <label for="title" class="category-title">Προσθήκη κατηγορίας</label>
    </div>
    <img src="assets/close-btn/close.svg" (click)="closeCategory()" />
  </div>

  <div class="form-create">
    <div class="first-line">
      <ion-col size="6">
        <div class="title-input">
          <label for="title" class="attribute">Τίτλος</label>
          <ion-input type="text" placeholder="Ο τίτλος σας" class="input" [(ngModel)]="newCategory.title"></ion-input>
        </div>
      </ion-col>
      <ion-col size="6">
        <div class="title-input">
          <label for="title" class="attribute">Υπότιτλος</label>
          <ion-input type="text" placeholder="Ο uπότιτλος σας" class="input"
            [(ngModel)]="newCategory.subtitle"></ion-input>
        </div>
      </ion-col>
    </div>
  </div>
  <div class="second-line">
    <ion-col size="12">
      <label for="description" class="attribute">Περιγραφή</label>
      <ion-textarea placeholder="Περιγραφή κατηγορίας" class="input"
        [(ngModel)]="newCategory.description"></ion-textarea>
    </ion-col>
  </div>
  <div class="third-line">
    <ion-col size="3">
      <ion-button class="submit-btn" fill="solid" (click)="createCategory()"    [disabled]="!isFormValid()">
        Προσθήκη
      </ion-button>
    </ion-col>
  </div>
</div>