.create-category {
    background-color: #ffffff;
    width: 100%;
    border-radius: 12px;
}

.category-title {
    font-family: SF Pro Text;
    font-size: 24px;
    font-weight: bold;
    color: #212121;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    border-bottom: 2px solid #F6F6F6;
}

.left-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

img {
    width: 32px;
    height: 32px;
}


.first-line {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5%;
}

.second-line {
    padding: 0.5%;
}

.third-line {
    padding: 0.5%;
}

.attribute {
    font-family: SF Pro Text;
    font-size: 14px;
    color: #212121;

}


.input {
    border-radius: 12px;
    border: 2px solid #F6F6F6;
    --placeholder-color: #707070;
    font-size: 16px;
    font-family: SF Pro Text;
    color: #212121;
}

.submit-btn {
    font-weight: bold;
    --color: #ffffff;
    --background: #1640A9;
    text-transform: capitalize;
}