<div class="create-category">
  <div class="header">
    <div class="left-header">
      <img src="assets/add-category/blue/add.svg" *ngIf="!isEdit" />
      <img src="assets/edit-icon/write.svg" *ngIf="isEdit" />
      <label for="title" class="category-title" *ngIf="!isEdit">{{ 'category_create.add_category' | translate }}</label>
      <label for="title" class="category-title" *ngIf="isEdit">{{ 'category_create.edit_category' | translate }}</label>
    </div>
    <img src="assets/close-btn/close.svg" (click)="closeCategory()" />
  </div>

  <div class="form-create">
    <div class="first-line">
      <ion-col size="6">
        <div class="title-input">
          <label for="title" class="attribute">{{ 'category_create.title' | translate }}</label>
          <ion-input type="text" [placeholder]="'category_create.placeholder_title' | translate" class="input"
            [(ngModel)]="newCategory.title"></ion-input>
        </div>
      </ion-col>
      <ion-col size="6">
        <div class="title-input">
          <label for="title" class="attribute">{{ 'category_create.subtitle' | translate }}</label>
          <ion-input type="text" [placeholder]="'category_create.placeholder_subtitle' | translate" class="input"
            [(ngModel)]="newCategory.subtitle"></ion-input>
        </div>
      </ion-col>
    </div>
  </div>
  <div class="second-line">
    <ion-col size="12">
      <label for="description" class="attribute">{{ 'category_create.description' | translate }}</label>
      <ion-textarea [placeholder]="'category_create.placeholder_description' | translate" class="input"
        [(ngModel)]="newCategory.description"></ion-textarea>
    </ion-col>
  </div>
  <div class="third-line">
    <ion-col size="3">
      <ion-button class="submit-btn" fill="solid" (click)="createCategory()" [disabled]="!isFormValid()"
        *ngIf="!isEdit">
        {{ 'category_create.add_button' | translate }}
      </ion-button>
      <ion-button class="submit-btn" fill="solid" (click)="editACategory()" [disabled]="!isFormValid()" *ngIf="isEdit">
        {{ 'category_create.save_button' | translate }}
      </ion-button>
    </ion-col>
  </div>
</div>